/*
 * Variables
 */

:root {  
  --card-padding: 1em;
  --card-height: 140px;
  --card-skeleton: linear-gradient(white var(--card-height), transparent 0);
  
  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(circle 16px at center, white 99%, transparent 0
  );
  
  --title-height: 1.5em;
  --title-width: 60%;
  --title-position: var(--card-padding) 1em;
  --title-skeleton: linear-gradient(gray var(--title-height), transparent 0);
  
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(lightgrey var(--desc-line-height), transparent 0);
  --desc-line-1-width: 80%;
  --desc-line-1-position: var(--card-padding) 3.5em;
  --desc-line-2-width: 80%;
  --desc-line-2-position: var(--card-padding) 5em;
  --desc-line-3-width: 70%;
  --desc-line-3-position: var(--card-padding) 6.5em;
  
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

/*
 * Card Skeleton for Loading
 */

.card {
  width: 100%; //demo
  height: var(--card-height);
  
  &:empty::after {
    content:"";
    display:block;
    width: 100%;
    height: 100%;
    border-radius:6px;
    box-shadow: 0 10px 45px rgba(0,0,0, .1);

    background-image:
      var(--title-skeleton),      //title
      var(--desc-line-skeleton),  //desc1
      var(--desc-line-skeleton),  //desc2
      var(--desc-line-skeleton),  //desc3
      var(--card-skeleton)        //card
    ;

    background-size:
      var(--title-width) var(--title-height),
      var(--desc-line-1-width) var(--desc-line-height),
      var(--desc-line-2-width) var(--desc-line-height),
      var(--desc-line-3-width) var(--desc-line-height),
      100% 100%
    ;
    
    background-position:
      var(--title-position),        //title
      var(--desc-line-1-position),  //desc1
      var(--desc-line-2-position),  //desc2
      var(--desc-line-3-position),  //desc2
      0 0                           //card
    ;

    background-repeat: no-repeat;
  }
}