html, body{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .page{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer{
        height: 180px;
    }
}