.calculator-container{
    form{
        text-align: center;
        .row{
            margin: 2em;
        }
        label{
            span{
                display: block;
            }
        }
    }
}